@inject Lucilvio.Solo.Webills.Clients.Web.Login.IAuthentication Authentication

@model Lucilvio.Solo.Webills.Clients.Web.Expenses.Index.ExpensesResponse
@{
    Layout = "_Layout";
    ViewData["title"] = "Expenses";
    ViewData["icon"] = "icon-subtract";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <span class="text-semibold"><i class="icon-subtract text-warning"></i> &nbsp;Expenses</span>
                    <button type="submit" data-toggle="modal" data-target="#modal-new-expense" class="btn btn-primary btn-xs pull-right"> New Expense </button>
                </h6>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Value</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Model.Expenses)
                        {
                            <tr>
                                <td class="col-lg-4">@expense.Name</td>
                                <td class="col-lg-4">@expense.Category</td>
                                <td class="col-lg-1">@expense.Value </td>
                                <td class="col-lg-1 text-right"><a href="#" class="edit-expense" data-id="@expense.Id"><i class="icon-pencil"></i></a></td>
                                <td class="col-lg-1 text-right"><a href="#" class="remove-expense" data-id="@expense.Id"><i class="icon-cross"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @*<ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="click">
                <li>
                    <a href="#" class="fab-menu-btn btn bg-blue btn-float btn-rounded btn-icon legitRipple">
                        <i class="fab-icon-open icon-plus3"></i>
                        <i class="fab-icon-close icon-cross2"></i>
                    </a>
                    <a href="#" class="fab-menu-btn btn btn-warning btn-float btn-rounded btn-icon legitRipple">
                        <i class="fab-icon-open icon-plus3"></i>
                        <i class="fab-icon-close icon-cross2"></i>
                    </a>
                </li>
                <li>

                </li>
            </ul>*@
    </div>
</div>

@Html.PartialAsync("../Edit/_EditExpense.cshtml").GetAwaiter().GetResult()
@Html.PartialAsync("../AddNew/_AddNewExpense.cshtml").GetAwaiter().GetResult()

@section Scripts {
    <script>
        $(".edit-expense").click(function () {
            var id = $(this).data("id");

            $.getJSON("/Expenses/" + id)
                .done(function (data) {
                    var expense = data.expense;

                    $.each(expense, function (name, value) {
                        $("#form-edit-expense").find("[name = '" + name + "']").val(value);
                    });

                    $("#modal-edit-expense").modal("show");
                }).fail(function (error) {
                    alert(error.responseText);
                });
        });

        $(".remove-expense").click(function () {
            var id = $(this).data("id");

            $.post("/Expenses/Remove", { Id: id })
                .done(function (data) {
                    alert(data.message);
                    location.reload();
                })
                .fail(function (error) {
                    alert(error.responseText);
                });
        });
    </script>
}