@*<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold"> @ViewData["title"] </span>
                @Html.Raw(ViewData["subtitle"] != null ? " - " + @ViewData["subtitle"] : "")
            </h4>

            <ul class="breadcrumb position-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="user_pages_list.html">User pages</a></li>
                <li class="active">User list</li>
            </ul>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>
</div>*@

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="@Html.Raw(ViewData["icon"]) position-left"></i> <span class="text-semibold"> @ViewData["title"] </span>
                @Html.Raw(ViewData["subtitle"] != null ? " - " + @ViewData["subtitle"] : "")
                @*<small class="display-block">Basic breadcrumb inside page header</small>*@
            </h5>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="components_breadcrumbs.html">Components</a></li>
                <li class="active">Location</li>
            </ul>
        </div>
    </div>
</div>